<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../vendor/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="all">
            <testsuite name="money">
            </testsuite>
        </testsuite>
    </testsuites>
</phpunit>
